.content-picker-content {
  display: flex; height: calc(100vh - 64px); overflow: hidden;
  pp-channel-picker { position: absolute; top: 16px; right: 80px; }
  .filters {
    width: 20%;
    background: whitesmoke;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 0.8;
    background-color: lightgray;
    height: 64px;
    align-items: center;
    padding: 0 20px;
  }
}


.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  color: #000;
}

.container {
  background: whitesmoke;
}



.content {
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  background: #fafafa;
}



.spacer {
  flex: 1 1 auto;
}
