<div class="container">
  <h1>Picturepark Content Platform</h1>
  <h2>Embeddable Widgets</h2>

  <div class="panel panel-default">
    <div class="panel-heading">Server URL</div>
    <div class="panel-body">{{url}}</div>
  </div>

  <pp-login></pp-login>
  <pp-logout></pp-logout>

  <h2>Widgets</h2>

  <h3>share-card</h3>
  <ul>
    <li>/share-card/token: Shows the card of the given share</li>
    <li>
      <a routerLink="/share-card/SRdU53SJ" routerLinkActive="active">Sample share card</a>
    </li>
  </ul>

  <h3>content-picker</h3>
  <ul>
    <li>/content-picker: Shows a content picker</li>
    <li>
      <a routerLink="/content-picker" routerLinkActive="active">Content Picker</a>
    </li>
  </ul>
</div>