<div class="container-fluid">
  <!-- Details -->
  <div [style.height]="windowHeight" *ngIf="content">
    <h1>{{content && content.content ? content.content.fileName : ''}}&nbsp;</h1>

    <div class="picturepark-content-browser-item" style="float: left; cursor: pointer; padding-right: 10px; width: 300px">
      <div class="picturepark-content-browser-item-thumbnail">
        <img [src]="thumbnailUrlSafe" (click)="showFullscreen()">
      </div>
    </div>

    <dl>
      <dt>{{'ContentPickerDetails.LabelFileExtension' | pptranslate}}</dt>
      <dd>{{content.content.fileExtension}}</dd>

      <ng-container *ngIf="content.content.kind === 'ImageMetadata'">
        <dt>{{'ContentPickerDetails.LabelSize' | pptranslate}}</dt>
        <dd>{{content.content.width}}px x {{content.content.height}}px</dd>
      </ng-container>
    </dl>

    <br style="clear: both" />
  </div>

  <!-- Footer -->
  <div *ngIf="content" class="row" style="background-color: lightgray; margin-top: 22px; padding: 10px">
    <div class="col-md-6">
      <div class="btn btn-primary" (click)="back()">
        {{'ContentPickerDetails.ButtonBack' | pptranslate}}
      </div>
    </div>
    <div class="col-md-6" style="text-align: right">
      <div class="btn btn-default" (click)="embed()">
        {{'ContentPickerDetails.ButtonChoose' | pptranslate}}
      </div>
    </div>
  </div>
</div>