<div class="list-items-picker-container">
    <div class="list-items-picker-content">
        <!--<pp-search-box style="font-size: 16px;" [searchString]="search | async" (searchStringChange)="search.next($event)"></pp-search-box>-->
        <pp-schema-browser
            class="content-browser"
            [activeParentSchema]="activeParentSchema"
            [searchString]="search | async"
            [filter]="filter | async"
            (activeSchemaChange)="setUpActiveSchema($event)">
        </pp-schema-browser>
    </div>
</div>