.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    color: #000;
  }
  
  .container {
    display: flex;
    position: absolute;
    background: whitesmoke;
    top: 64px;
    bottom: 64px;
    left: 0;
    right: 0;
  }
  
  .filters {
    width: 375px;
    max-width: 100%;
    background: whitesmoke;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .content {
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
    background: #fafafa;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  