@use '@angular/material' as mat;
@import '../../theme.scss';

$accent: map-get($picturepark-app-theme, accent);

.home-container {
  display: flex;
  height: 100vh;
  background-color: mat.get-color-from-palette($picturepark-app-primary, background-dark);
  .home-content {
    width: 100%;
    .header {
      background-color: mat.get-color-from-palette($accent, 500);
      color: white;
    }
  }
}

.card {
  max-width: 400px;
  margin: 20px;
  width: unset;

  mat-card-title {
    margin: 16px 16px 0 16px;
  }
}

.spacer {
  flex: 1 1 auto;
}
