<div class="container-fluid">
  <div *ngIf="!isLoggedIn">
    Authorization...
  </div>
  
  <div *ngIf="isLoggedIn">
    <div class="row" style="padding-top: 10px">
      <!-- Channel Picker -->
      <div class="col-md-3">
        <pp-channel-picker [label]="'ContentPicker.LabelChannel' | pptranslate" [(channel)]="selectedChannel">
        </pp-channel-picker>
      </div>
      <!-- Search Box -->
      <div class="col-md-9">
        <pp-search-box [label]="'ContentPicker.LabelSearch' | pptranslate" [(query)]="searchText">
        </pp-search-box>
      </div>
    </div>
    <!-- Content Browser -->
    <div class="row" style="margin-bottom: -22px">
      <div class="col-md-3">
        <label class="control-label" *ngIf="aggregations.length > 0">
          {{'ContentPicker.LabelFilters' | pptranslate}}
        </label>
        <div style="height: 500px; overflow-y: auto" [style.height]="aggregationFilterHeight">
          <pp-aggregation-filter [query]="searchText"
                                 [channel]="selectedChannel"
                                 (aggregationsChange)="aggregations = $event"
                                 [(filters)]="selectedFilters">
          </pp-aggregation-filter>
        </div>
      </div>
      <div class="col-md-9">
        <div style="height: 500px; margin-right:-15px;" [style.height]="contentBrowserHeight">
          <pp-content-browser #contentBrowser
                              [selectionMode]="selectionMode" 
                              [channel]="selectedChannel" 
                              [filters]="selectedFilters" 
                              [query]="searchText" 
                              [columns]="contentBrowserColumns" 
                              [height]="contentBrowserHeight"
                              [(selectedItems)]="selectedItems">
          </pp-content-browser>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="row" style="background-color: lightgray; margin-top: 22px; padding: 10px">
      <div class="col-md-6" style="padding-top: 8px">
        <ng-container *ngIf="selectedItems.length == 1">  
          {{'ContentPicker.TextSelectedSingle' | pptranslate:selectedItems.length}}
        </ng-container>
        <ng-container *ngIf="selectedItems.length != 1">  
          {{'ContentPicker.TextSelectedMultiple' | pptranslate:selectedItems.length}}
        </ng-container>
      </div>
      <div class="col-md-6" style="text-align: right">
        <div class="btn btn-primary" [class.disabled]="selectedItems.length == 0 || loading" (click)="embed()" *ngIf="authService.isLoggedIn">
          <ng-container *ngIf="!loading">  
            {{'ContentPicker.ButtonChoose' | pptranslate}}
          </ng-container>
          <ng-container *ngIf="loading">  
            {{'ContentPicker.ButtonLoading' | pptranslate}}
          </ng-container>
        </div>
        <div class="btn btn-default" (click)="cancel()">
          {{'ContentPicker.ButtonCancel' | pptranslate}}
        </div>
      </div>
    </div>
  </div>
</div>