@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family:   '"Roboto", "Helvetica Neue", sans-serif',
    $display-4:     mat-typography-level(21px, 56px, 400),
    $display-3:     mat-typography-level(18px, 48px, 400),
    $display-2:     mat-typography-level(14px, 112px, 300),
    $display-1:     mat-typography-level(13px, 40px, 400),
    $headline:      mat-typography-level(21px, 64px, 600),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(18px, 24px, 200),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(12px, 21px, 500),
    $input:         mat-typography-level(18px, 1.125, 400)
);

@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);

$mat-picturepark-accent: (
    0: #eeeeee,
    50 : #e8f6f6,
    100 : #c5e8e8,
    200 : #9fd9d8,
    300 : #79cac8,
    400 : #5cbebd,
    500 : #3fb3b1,
    600 : #39acaa,
    700 : #31a3a1,
    800 : #299a98,
    900 : #1b8b88,
    A100 : #c3fffd,
    A200 : #90fffc,
    A400 : #5dfffb,
    A700 : #44fffa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// GLOBAL COLORS
$base: #39acaa;

// c0e6ff 
// 93d0f9

$mat-picturepark-primary: (
    base: $base,
    dark-background: #444,
    dialog-background: #f8f8f8,
    light-background: #eee,
    white-background: #fff,
    white-font: #fff,
    dark-font: #444,
    light-font: #727272,
    light-border: #d8d8d8,
    icon-selected-color: #2f2f2f,
    image-slot-background-color: #dcdcdc,
    button: #aaa,
    button-active: $base,
    progress-bar: $base,
    progress-bar-background: #e4e4e4,
    spinner: $base,
    shadow-color: #000,
    contrast: (
        light-background: #d8d8d8,
        dialog-background: #eee,
    )
);

$picturepark-app-primary: mat-palette($mat-picturepark-primary);
$picturepark-app-accent: mat-palette($mat-picturepark-accent, 400, 200, 700);
$picturepark-app-warn: mat-palette($mat-red);
$picturepark-app-theme: mat-light-theme($picturepark-app-primary, $picturepark-app-accent, $picturepark-app-warn);

$mat-picturepark-primary-dark: (
    base: $base,
    dark-background: #000,
    dialog-background: #f8f8f8,
    light-background: #444,
    white-background: #fff,
    white-font: #fff,
    dark-font: #fff,
    light-font: #fff,
    light-border: #d8d8d8,
    icon-selected-color: #2f2f2f,
    image-slot-background-color: #dcdcdc,
    button: #aaa,
    button-active: $base,
    progress-bar: $base,
    progress-bar-background: #e4e4e4,
    spinner: $base,
    shadow-color: #000,
    contrast: (
        light-background: #d8d8d8,
        dialog-background: #eee,
    )
);

$picturepark-app-primary-dark: mat-palette($mat-picturepark-primary-dark);
$picturepark-app-accent-dark: mat-palette($mat-picturepark-accent, 400, 200, 700);
$picturepark-app-warn-dark: mat-palette($mat-red);
$picturepark-app-theme-dark: mat-dark-theme($picturepark-app-primary-dark, $picturepark-app-accent-dark, $picturepark-app-warn-dark);