@import '~@angular/material/theming';

@include mat-core();

$mat-picturepark-accent: (
    0: #eeeeee,
    50 : #e8f6f6,
    100 : #c5e8e8,
    200 : #9fd9d8,
    300 : #79cac8,
    400 : #5cbebd,
    500 : #3fb3b1,
    600 : #39acaa,
    700 : #31a3a1,
    800 : #299a98,
    900 : #1b8b88,
    A100 : #c3fffd,
    A200 : #90fffc,
    A400 : #5dfffb,
    A700 : #44fffa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// GLOBAL COLORS
$base: #39acaa;

$mat-picturepark-primary: (
    base: #39acaa,
    dark-background: #444,
    dark-border: #2f2f2f,
    dialog-background: #f8f8f8,
    light-background: #eee,
    light-border: #d8d8d8,
    white-background: #fff,
    font-color: #444,
    icon-selected: #000000,
    progress-bar-background: #e4e4e4,
    progress-bar: $base,
    spinner: $base,
    contrast: ()
);

$picturepark-app-primary: mat-palette($mat-picturepark-primary);
$picturepark-app-accent: mat-palette($mat-picturepark-accent, 400, 200, 700);
$picturepark-app-warn: mat-palette($mat-red);
$picturepark-app-theme: mat-light-theme($picturepark-app-primary, $picturepark-app-accent, $picturepark-app-warn);