<div [style.display]="detailsItemId ? 'none' : ''">
  <div *ngIf="!authService.isAuthenticated">
    Authorization...
  </div>

  <div *ngIf="authService.isAuthenticated">
    <mat-toolbar class="navbar" color="primary">
      <pp-channel-picker [(channel)]="selectedChannel">
      </pp-channel-picker>

      <span class="spacer"></span>

      <pp-search-box [(query)]="searchText">
      </pp-search-box>
    </mat-toolbar>

    <div class="container">
      <div class="filters">
        <mat-tab-group style="height: 100%;">
          <mat-tab label="Filters">
            <pp-content-aggregation-list [query]="searchText" [channel]="selectedChannel" (filterChange)="selectedFilter = $event">
            </pp-content-aggregation-list>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span [matBadge]="basketItemsCount" matBadgeOverlap="false">Basket</span>
            </ng-template>
            <pp-basket (previewItemChange)="openDetails($event)"></pp-basket>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="content">
        <pp-content-browser [channel]="selectedChannel" [filter]="selectedFilter" [query]="searchText" (previewItemChange)="openDetails($event)">
        </pp-content-browser>
      </div>
    </div>
  </div>
</div>
