<div class="basket">
  <mat-toolbar class="basket__header" *ngIf="basketItems.length > 0">
    <!-- TODO: add tooltips -->
    <!-- TODO: add download ability -->
    <button mat-icon-button>
      <mat-icon aria-label="TODO: change this text">get_app</mat-icon>
    </button>
    <div style="flex-grow: 1;"></div>
    <button mat-icon-button (click)="clearBasket(); ">
      <mat-icon aria-label="TODO: change this text">clear</mat-icon>
    </button>
  </mat-toolbar>
  <div class="basket__items" *ngIf="basketItems.length > 0">
    <div class="basket__item-container" *ngFor="let basketItem of basketItems">
      <pp-basket-item class="basket__item" [itemId]="basketItem" (dblclick)="previewItem(basketItem)"></pp-basket-item>
    </div>
  </div>
  <div *ngIf="basketItems.length === 0">
    <!-- TODO add mat typography, translations -->
    There is no items in the basket.
  </div>
</div>
