<div class="wrap">
  @if (deviceBreakpoint) {
    <mat-toolbar class="navbar">
      <button
        mat-icon-button
        class="menu"
        (click)="snav.toggle()"
        [matBadge]="itemsInBasket"
        [matBadgeHidden]="itemsInBasket === '0'"
        >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  }
  @if (!deviceBreakpoint) {
    <mat-toolbar class="navbar">
      <pp-channel-picker [channel]="selectedChannel" (channelChange)="changeChannel($event)"></pp-channel-picker>
      <span class="spacer"></span>
      @if (selectedChannel) {
        <pp-search-suggest-box
          class="search-suggest-box-desktop"
          [showSearchBehaviorPicker]="true"
          [facade]="facade"
          >
        </pp-search-suggest-box>
      }
      @if (languageService.languages.length > 1) {
        <pp-language-switch></pp-language-switch>
      }
      <!--
      <pp-search-box style="width: 20%; font-size: 16px;" [searchString]="searchText"
      (searchStringChange)="changeSearchQuery($event)"></pp-search-box>
      -->
    </mat-toolbar>
  }
  <div class="content-picker-content">
    <mat-sidenav-container style="width: 100%">
      <mat-sidenav
        #snav
        [mode]="deviceBreakpoint ? 'over' : 'side'"
        disableClose="true"
        position="end"
        [fixedInViewport]="deviceBreakpoint ? false : true"
        fixedTopGap="64"
        [opened]="deviceBreakpoint ? false : true"
        style="width: 375px"
        >
        @if (deviceBreakpoint) {
          <mat-toolbar-row>
            <pp-channel-picker style="width: 100%" [channel]="selectedChannel" (channelChange)="changeChannel($event)">
            </pp-channel-picker>
          </mat-toolbar-row>
        }
        @if (deviceBreakpoint) {
          <mat-toolbar-row>
            @if (selectedChannel) {
              <pp-search-suggest-box
                class="search-suggest-box-mobile"
                [showSearchBehaviorPicker]="true"
                [facade]="facade"
                >
              </pp-search-suggest-box>
            }
          </mat-toolbar-row>
        }
        <mat-tab-group class="right-panel filters" [mat-stretch-tabs]="false" color="accent">
          <mat-tab label="{{ 'ContentAggregationList.FiltersLabel' | pptranslate }}">
            @if (selectedChannel) {
              <pp-aggregation-list [facade]="facade"> </pp-aggregation-list>
            }
          </mat-tab>
          <mat-tab label="{{ 'Basket.BasketLabel' | pptranslate }}">
            <ng-template mat-tab-label>
              <span
                [matBadge]="itemsInBasket"
                matBadgeColor="accent"
                matBadgeOverlap="false"
                [matBadgeHidden]="itemsInBasket === '0'"
                >{{ 'Basket.BasketLabel' | pptranslate }}</span
                >
              </ng-template>
              <pp-basket (previewItemChange)="openDetails($event)"></pp-basket>
            </mat-tab>
          </mat-tab-group>
          @if (snav.opened && !deviceBreakpoint) {
            <div class="expand filters" (click)="snav.toggle()">
              <i class="material-icons">keyboard_arrow_right</i>
            </div>
          }
        </mat-sidenav>
        <mat-sidenav-content class="content">
          <pp-content-browser
            #contentBrowser
            [channel]="selectedChannel"
            (previewItemChange)="openDetails($event)"
            (selectedItemsChange)="selectionChange($event)"
            >
          </pp-content-browser>
          @if (!snav.opened && !deviceBreakpoint) {
            <div class="expand-browser" (click)="snav.toggle()">
              <i class="material-icons">keyboard_arrow_left</i>
            </div>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
      <div class="footer" [ngClass]="{ active: selectedItems.length > 0 }">
        <div class="title">
          @if (deviceBreakpoint) {
            @if (selectedItems.length === 1) {
              {{ 'ContentPicker.SelectedItem' | pptranslate: selectedItems.length }}
            }
            @if (selectedItems.length !== 1) {
              {{ 'ContentPicker.SelectedItems' | pptranslate: selectedItems.length }}
            }
          } @else {
            @if (selectedItems.length === 1) {
              {{ 'ContentPicker.TextSelectedSingle' | pptranslate: selectedItems.length }}
            }
            @if (selectedItems.length !== 1) {
              {{ 'ContentPicker.TextSelectedMultiple' | pptranslate: selectedItems.length }}
            }
          }
        </div>
        <div class="action-buttons">
          <button mat-button (click)="contentBrowser.cancel()">
            {{ 'ContentPicker.ButtonCancel' | pptranslate }}
          </button>
          <button mat-button [disabled]="selectedItems.length === 0 || loading" (click)="embed()">
            <ng-container>
              {{ 'ContentPicker.ButtonChoose' | pptranslate }}
            </ng-container>
            @if (loading) {
              {{ 'ContentPicker.ButtonLoading' | pptranslate }}
            }
          </button>
        </div>
      </div>
    </div>
  </div>
  