@import '../../../../theme.scss';

.list-items-picker-container {
  display: flex;
  height: calc(100vh - 64px);
  background-color: mat-color($picturepark-app-primary, background-dark);
  .list-items-picker-content {
    width: 100%;
    height: 100%;
  }
}
