// LIBRARY GLOBAL STYLES (keep on top)
@use '@angular/material' as mat;
@import '../../picturepark-sdk-v2-angular-ui/src/lib/styles/styles_lib.scss';
@import '../../picturepark-sdk-v2-angular-ui/src/lib/theming/_theming.scss';

// CUSTOM THEME
@import 'theme.scss';

@include mat.all-component-themes($picturepark-app-theme);
@include picturepark-theme($picturepark-app-theme);

// GLOBAL STYLES (keep at bottom)
@import '../../picturepark-sdk-v2-angular-ui/src/lib/styles/global_styles.scss';

// Custom tooltip styling
/* TODO(mdc-migration): The following rule targets internal classes of tooltip that may no longer apply for the MDC version.*/
mat-tooltip-component .mat-mdc-tooltip {
  opacity: 0.9;
  border-radius: 2px;
  background-color: #535353;
  color: rgba(255, 255, 255, 0.87);
  font-size: 13px;
  line-height: 22px;
  padding: 0 8px;
}
