@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: '"Roboto", "Helvetica Neue", sans-serif',
  $display-4: mat.define-typography-level(16px, 25px, 300),
  $display-3: mat.define-typography-level(18px, 48px, 400),
  $display-2: mat.define-typography-level(14px, 112px, 300),
  $display-1: mat.define-typography-level(13px, 40px, 400),
  $headline: mat.define-typography-level(21px, 64px, 600),
  $title: mat.define-typography-level(20px, 32px, 500),
  $subheading-2: mat.define-typography-level(18px, 24px, 200),
  $subheading-1: mat.define-typography-level(15px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 24px, 500),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(12px, 21px, 500),
  $input: mat.define-typography-level(18px, 1.125, 400),
);

@include mat.typography-hierarchy($custom-typography);
@include mat.core($custom-typography);

$mat-picturepark-accent: (
  0: #eeeeee,
  50: #e8f6f6,
  100: #c5e8e8,
  200: #9fd9d8,
  300: #79cac8,
  400: #5cbebd,
  450: #f8f8f8,
  500: #3fb3b1,
  550: #eeeeee,
  600: #d8d8d8,
  650: #aaa,
  700: #31a3a1,
  800: #299a98,
  900: #1b8b88,
  A100: #c3fffd,
  A200: #90fffc,
  A400: #5dfffb,
  A700: #44fffa,
  A800: #2f2f2f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #727272,
    300: #000000,
    400: #ffffff,
    450: #727272,
    500: #ffffff,
    550: #2f2f2f,
    600: #727272,
    650: #fff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
    A800: #eee,
  ),
);

$mat-picturepark-warn: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f74931,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  success: #50be3c,
  warning: #f59220,
  contrast: (
    50: #727272,
    100: #727272,
    200: #727272,
    300: #727272,
    400: #727272,
    500: #eee,
    600: #eee,
    700: #eee,
    800: #eee,
    900: #eee,
    A100: #727272,
    A200: #eee,
    A400: #eee,
    A700: #eee,
    success: #eee,
    warning: #eee,
  ),
);

// GLOBAL COLORS
$base: #39acaa;

/*
    Style guide documentation
    https://material.io/design/color/the-color-system.html#color-theme-creation
*/
$mat-picturepark-primary: (
  primary: $base,
  background-light: #fff,
  background-dark: #eee,
  surface-light: #fff,
  surface-mid: #dcdcdc,
  surface-dark: #444,
  opacity-light: rgba(0, 0, 0, 0.4),
  on-primary: white,
  on-background-light: #727272,
  on-background-dark: #727272,
  on-surface-light: #727272,
  on-surface-mid: #444,
  on-surface-dark: #fff,
  on-opacity-light: #fff,
  divider: #dcdcdc,
  success: #4caf50,
  contrast: (),
);

$picturepark-app-primary: mat.define-palette($mat-picturepark-primary);
$picturepark-app-accent: mat.define-palette($mat-picturepark-accent, 400, 200, 700);
$picturepark-app-warn: mat.define-palette($mat-picturepark-warn);
$picturepark-app-theme: mat.define-light-theme(
  $picturepark-app-primary,
  $picturepark-app-accent,
  $picturepark-app-warn
);

$mat-picturepark-primary-dark: (
  primary: $base,
  background-light: #727272,
  background-dark: #444,
  surface-light: #444,
  surface-mid: #727272,
  surface-dark: #727272,
  opacity-light: rgba(0, 0, 0, 0.4),
  on-primary: white,
  on-background-light: #fff,
  on-background-dark: #a9a9a9,
  on-surface-light: #a9a9a9,
  on-surface-mid: #dcdcdc,
  on-surface-dark: #dcdcdc,
  on-opacity-light: #fff,
  divider: #dcdcdc,
  success: #4caf50,
  contrast: (),
);

$picturepark-app-primary-dark: mat.define-palette($mat-picturepark-primary-dark);
$picturepark-app-accent-dark: mat.define-palette($mat-picturepark-accent, 400, 200, 700);
$picturepark-app-warn-dark: mat.define-palette($mat-picturepark-warn);
$picturepark-app-theme-dark: mat.define-dark-theme(
  $picturepark-app-primary-dark,
  $picturepark-app-accent-dark,
  $picturepark-app-warn-dark
);

// Apply custom components themes
@import '../projects/picturepark-sdk-v2-angular-ui/src/lib/theming/_theming.scss';
@import './app/components/application-menu/application-menu.component.theme.scss';
@import './app/components/application-header/application-header.component.theme.scss';

// LOAD THEME COMPONENTS WITH CUSTOM THEME
@mixin picturepark-components($theme) {
  // Include custom component themes from the main app
  @include app-application-menu-theme($theme);
  @include app-application-header-theme($theme);
}
