<div class="shares-manager-container">
  <div class="content">
    <pp-browser-toolbar></pp-browser-toolbar>
    <pp-share-browser *ngIf="authService.isAuthenticated"></pp-share-browser>
  </div>
  <div class="filters">
    <mat-tab-group>
      <mat-tab label="Filters">
        
        <pp-content-aggregation-list
          [query]="searchText"
          [channelId]="selectedChannel?.id"
          [aggregators]="selectedChannel?.aggregations"
          (filterChange)="selectedFilter = $event">
        </pp-content-aggregation-list>
        
      </mat-tab>
    </mat-tab-group>
  </div>
</div>