@use '@angular/material' as mat;

@mixin app-application-header-theme($theme) {
  $primary: map-get($theme, primary);

  app-application-header {
    .application-header-container {
      background-color: mat.m2-get-color-from-palette($primary, surface-light);
      border-color: mat.m2-get-color-from-palette($primary, divider);
      color: mat.m2-get-color-from-palette($primary, on-surface-light);
    }
  }
}
