.application-header-container {
  display: flex;
  height: 63px;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  .title-container {
    width: 30%;
    float: left;

    h1 {
      padding: 0px 30px;
      margin: 0px;
    }
  }

  .close-container {
    float: right;
    width: 64px;
    height: 64px;
    cursor: pointer;
    position: absolute;
    right: 0px;

    .close-content {
      text-align: center;
      border-left-style: solid;
      border-left-width: 1px;

      & i {
        line-height: 63px;
      }
    }
  }
}
