@import '../../theme.scss';

.home-container {
  display: flex;
  height: 100vh;
  background-color: mat-color($picturepark-app-primary, background-dark);
  .home-content {
    width: 100%;
    .header {
      background-color: mat-color($picturepark-app-primary, primary);
      color: white;
    }
  }
}

.card {
  max-width: 400px;
  margin: 20px;
  width: unset;
}

.spacer {
  flex: 1 1 auto;
}
