.share-manager-item-container {
    background-color: rgb(238,238,238); height: calc(100vh - 64px);
    .share-manager-item-menu-container {
        width: 20%; float: left;
    }
    .share-manager-item-content-container {
        width: 80%; float: left;
    }
}