<div class="share-manager-item-loader">
  @if (isLoading) {
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  }
</div>
@if (shareDetail) {
  <div class="header">
    @if (logoUrl) {
      <img [src]="logoUrl" width="160" />
    }
    @if (languageService.languages.length > 1) {
      <pp-language-switch></pp-language-switch>
    }
  </div>
  <pp-panel class="settings" [matTooltipPosition]="'left'" [matTooltip]="shareDetail.name" [title]="shareDetail.name">
    <div pp-panel-buttons>
      @if (enableDownload) {
        <button
          mat-stroked-button
          aria-label="Download"
          (click)="download()"
          [disabled]="!shareDetail.contentSelections.length"
          >
          {{ 'ShareViewer.Download' | pptranslate }}
        </button>
      }
    </div>
    <div pp-panel-content class="settings-wrap">
      <div class="left">
        @if (shareDetail.description) {
          <div [innerHTML]="shareDetail.description" class="description"></div>
        }
        <ul class="settings-menu">
          <li>{{ 'ShareViewer.CreationDate' | pptranslate }}</li>
          @if (shareDetail.expirationDate) {
            <li>{{ 'ShareViewer.ExpirationDate' | pptranslate }}</li>
          }
          <li>{{ 'ShareViewer.Creator' | pptranslate }}</li>
        </ul>
        <ul class="settings-info">
          <li>{{ shareDetail.audit.creationDate | date: 'yyyy-MM-dd HH:mm':undefined:'en-US' }}</li>
          <!-- TODO: Add support for more locales -->
          @if (shareDetail.expirationDate) {
            <li class="expiration">
              {{ shareDetail.expirationDate | date: 'yyyy-MM-dd HH:mm':undefined:'en-US' }}
            </li>
          }
          <li>{{ shareDetail.creator.displayName }}</li>
        </ul>
      </div>
      <div class="right">
        <div class="download"></div>
      </div>
    </div>
  </pp-panel>
  @if (shareDetail.expired) {
    <pp-panel [showHeader]="false">
      <div pp-panel-content class="expired-box">
        {{ 'ShareViewer.Expired' | pptranslate }}
      </div>
    </pp-panel>
  }
  @if (mailRecipients && mailRecipients.length) {
    <pp-share-mail-recipients-panel
      [mailRecipients]="mailRecipients"
    ></pp-share-mail-recipients-panel>
  }
  @if (!shareDetail.expired) {
    <pp-share-items-panel
      [shareDetail]="shareDetail"
      [isShareViewer]="true"
      (showDetail)="showDetail($event)"
      >
    </pp-share-items-panel>
  }
}
