.application-menu-container {
  position: relative;
  height: 100vh;
  width: 64px;
  float: left;
  transition: 300ms;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  &.active {
    width: 240px;
    .application-menu-logo {
      svg#text {
        opacity: 1;
      }
      .back {
        display: inherit;
      }
    }
    & ul li span {
      opacity: 1;
    }
  }

  .application-menu-logo {
    text-align: center;
    height: 63px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
    &.active {
      & svg#graphic {
        top: 11px;
      }
    }
    svg#graphic {
      position: absolute;
      top: 18px;
      left: 20px;
      cursor: pointer;
      height: 27px;
      transition: 300ms;
    }
    svg#text {
      cursor: pointer;
      position: absolute;
      height: 25px;
      left: 56px;
      bottom: 21px;
      opacity: 0;
      transition: 300ms;
      &:focus {
        outline: -webkit-focus-ring-color auto 0px;
      }
    }
    .back {
      display: none;
      position: relative;
      cursor: pointer;
      width: 22px;
      height: 22px;
      border-radius: 4px;
      top: 22px;
      right: 16px;
      float: right;
      & i {
        position: absolute;
        left: 10px;
        top: 4px;
        font-weight: 600;
        &:first-child {
          position: absolute;
          left: 4px;
        }
      }
    }
  }

  ul {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 240px;
    margin: 13px 0px 0px 0px;
    li {
      position: relative;
      text-align: left;
      line-height: 44px;
      cursor: pointer;

      &:focus {
        outline: -webkit-focus-ring-color auto 0px;
      }

      &:hover {
        opacity: 0.4;
      }

      &.active {
        opacity: 0.4;
      }

      & i {
        position: relative;
        width: 64px;
        text-align: center;
        top: 6px;
      }
      & span {
        width: 200px;
        transition: 300ms;
        opacity: 0;
      }
    }
  }
}
span.label {
  position: fixed;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px 6px;
  opacity: 0.9;
  z-index: 100;
  display: none;
  &.active {
    display: inherit;
  }
}

.theme-selector {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
