<div class="picturepark-content-browser">
  <virtual-scroll #virtualScroll
                  *ngIf="items.length > 0"
                  [items]="items" 
                  (update)="viewPortItems = $event" 
                  (change)="onListChange($event)" 
                  [style.height]="height"
                  style="display:block">
    <pp-content-browser-item *ngFor="let itemModel of viewPortItems"
                             style="display: inline-block"
                             [style.cursor]="selectionMode !== 'none' ? 'pointer' : ''"
                             [itemModel]="itemModel" 
                             [style.width]="(100 / columns) + '%'">
    </pp-content-browser-item>
  </virtual-scroll>
  <div *ngIf="items.length === 0 && !isLoading">
    {{'ContentBrowser.TextNoItems' | pptranslate}}
  </div>
</div>