@import '~@angular/material/theming';

// APPLICATION HEADER
$pp-application-header: (
    font-color: #000,
    title-font-color: #444,
    search-font-color: #444,
    search-icon-font-color: #444,
    contrast: ()
);

@mixin pp-application-header-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .application-header-container {
        background-color: mat-color($primary, white-background) !important;
        border-bottom: 1px solid mat-color($primary, light-border) !important;
        color: mat-color($pp-application-header, font-color) !important;
        .title-container {
            color: mat-color($pp-application-header, title-font-color) !important;
            border-right: 1px solid mat-color($primary, light-border) !important;
        }
        .search-container {
            color: mat-color($pp-application-header, search-font-color) !important;
            font-size: 18px !important;
            .search-content {
                & i { color: mat-color($pp-application-header, search-icon-font-color) !important; }
                & input { 
                    font-size: 18px !important; background-color: mat-color($primary, white-background) !important;
                }
            }
        }
        .close-container { 
            border-left: 1px solid mat-color($primary, light-border) !important;
        }
    }

};




