
// BASKET ITEM COMPONENT
$pp-basket-item: (
    background-color: #fff,
    contrast: ()
);

// BASKET MODULE
.basket-item {
    background: mat-color($pp-basket-item, background-color) !important;
  }