@import '~@angular/material/theming';

@mixin pp-browser-base-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .browser {
        &__items {
            background-color: mat-color($primary, light-background) !important;
        }
    }

};