@import '~@angular/material/theming';

// BROWSER TOOLBAR CONTAINER
$pp-browser-toolbar: (
    border-bottom-color: #d8d8d8,
    button-color: $base,
    icon-hover-background-color: $base,
    icon-hover-color: #fff,
    icon-sort-color: #727272,
    icon-sort-hover-color: #000,
    icon-color: $base,
    contrast: ()
);


@mixin pp-browser-toolbar-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // BROWSER TOOLBAR MODULE
  .browser-toolbar-container {
    background-color: mat-color($primary, light-background) !important;
    border-bottom: 1px solid mat-color($primary, light-border) !important;
    .browser-toolbar-content {
      .select {
        button {
          background-color: mat-color($primary, light-background) !important;
          color: mat-color($pp-browser-toolbar, button-color) !important;
          &:hover {
            i { 
              background-color: mat-color($pp-browser-toolbar, icon-hover-background-color) !important;
              color: mat-color($pp-browser-toolbar, icon-hover-color) !important;
            }
          }
          i {
            font-size: 21px !important;
            color: mat-color($pp-browser-toolbar, icon-color) !important;
          }
        }
      }
      .order-by {
        button {
          background-color: mat-color($primary, light-background) !important;
          color: mat-color($pp-browser-toolbar, button-color) !important;
          &:hover {
            mat-icon {
              color: mat-color($pp-browser-toolbar, icon-sort-hover-color) !important;
            }
          }
          mat-icon {
            font-size: 18px !important; 
            color: mat-color($pp-browser-toolbar, icon-sort-color) !important;
          }
        }
      }
    }
  }
}