@import '~@angular/material/theming';

// BROWSER ITEM BASE VARS
$pp-browser-item: (
    selected-background: #6f6f6f,
    contrast: ()
);

@mixin pp-browser-item-base-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .browser-item {
      $self: &;
      &--selected {
        // use primary color.
        box-shadow: 0 0 0 2px mat-color($pp-browser-item, selected-background) !important;
    
        #{ $self }__title {
          background-color: mat-color($pp-browser-item, selected-background) !important;
          color: mat-color($primary, white-font) !important;
        }
    
      }
    
      &__title {
        font-size: mat-font-size($custom-typography, display-1) !important;
        color: mat-color($primary, light-font) !important;
      }
      
      &__actions {
        ul {
          li {
            .material-icons {
              font-size: mat-font-size($custom-typography, display-1) !important;
              color: mat-color($primary, white-font) !important;
            }
          }
        }
      }
    
      &__thumbnail-overlay {
        color: mat-color($primary, white-font) !important;
        font-size: mat-font-size($custom-typography, caption) !important;
      }
    }
}