@import '~@angular/material/theming';

// DIALOG BASE VARS
$pp-dialog-base: (
    light-border: #eee,
    contrast: ()
);

@mixin pp-dialog-base-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .dialog {
        h3 { 
            color: mat-color($primary, dark-font) !important; 
            border-bottom: 1px solid mat-color($pp-dialog-base, light-border) !important; 
            mat-icon { color: mat-color($primary, light-font) !important; }
        }
    
        mat-dialog-content { background-color: mat-color($primary, dialog-background) !important; }
    
        .loader-container { 
            background-color: mat-color($primary, dialog-background) !important; 
        }
    
        mat-dialog-actions { 
            border-top: 1px solid mat-color($pp-dialog-base, light-border) !important;
            background-color: mat-color($primary, white-background) !important;
            button { 
                color: mat-color($primary, white-font) !important; background: mat-color($primary, button) !important;
                &.active { background-color: mat-color($primary, base) !important; }
                &.option { background-color: mat-color($primary, white-background) !important; color: mat-color($primary, button) !important; border: 1px solid mat-color($primary, button) !important; }
                &.cancel { background-color: mat-color($primary, white-background) !important; color: mat-color($primary, button) !important; }
            }
        }
    }


}