// LIST BROWSER MODULE
$pp-list-browser: (
    background-color: #eee,
    icon-color: #aaa,
    contrast: ()
);

@mixin pp-list-browser-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .content-browser-container {
    .content-browser-toolbar-container {
      background-color: mat-color($pp-list-browser, background-color) !important;
    }
    .table-container {
      .mat-row:hover {
        background-color: mat-color($pp-list-browser, background-color) !important;
      }
    }
    .icons {
      mat-icon {
        color: mat-color($pp-list-browser, icon-color) !important;
      }
    }
  }
  
}
