@import '~@angular/material/theming';

// APPLICATION MENU STYLES VARS
$pp-application-menu: (
    contrast: ()
);

@mixin app-application-menu-theme($theme) {
  $primary: map-get($theme, primary);

  pp-application-menu {
    
    // APPLICATION MENU MODULE
    div {
      background-color: mat-color($primary, surface-light);
      color: mat-color($primary, on-surface-light);
      
      .application-menu-logo {
        border-bottom-color: mat-color($primary, divider);
        svg {
          & path {
            fill: mat-color($primary, on-surface-light);
          }
        }
      }
      ul {
        li {
          color: mat-color($primary, on-surface-light);
          &:hover {
            background-color: mat-color($primary, menu-item-hover-background-color);
          }
          &.active { 
            color: mat-color($primary, menu-item-active-color);
            background-color: mat-color($primary, menu-item-active-background-color);
          }
          & i { font-size: mat-font-size($custom-typography, display-3) !important; }
          & span {
            font-size: mat-font-size($custom-typography, display-1) !important;
          }
        }
      }
    }
    div.theme-selector{
      color: mat-color($primary, primary);
    }
    span.label { 
      font-size: mat-font-size($custom-typography, caption);
    }
  }
}


