@import '~@angular/material/theming';

// APPLICATION MENU STYLES VARS
$pp-application-menu: (
    border-color: #2f2f2f,
    logo-active-background: #2f2f2f,
    logo-color: #fff,
    back-button-hover-color: #eee,
    back-button-hover-background-color: #565656,
    menu-item-hover-background-color: #3a3a3a,
    menu-item-active-color: #fff,
    menu-item-active-background-color: #3a3a3a,
    menu-label-color: #eee,
    menu-label-backgroud-color: #565656,
    contrast: ()
);

@mixin app-application-menu-theme($theme) {
  $primary: map-get($theme, primary);

  
  // APPLICATION MENU MODULE
  app-application-menu > div {
    background-color: mat-color($primary, dark-background);
    box-shadow: 
        0 5px 5px -3px rgba(mat-color($primary, shadow-color),.2), 
        0 8px 10px 1px rgba(mat-color($primary, shadow-color),.14), 
        0 3px 14px 2px rgba(mat-color($primary, shadow-color),.12);

    .application-menu-logo {
      border-bottom-color: mat-color($pp-application-menu, border-color);
      &.active {
        background-color: mat-color($pp-application-menu, logo-active-background);
      }
      svg#text {
          & path {
            fill: mat-color($pp-application-menu, logo-color);
          }
      }
      .back {
          color: mat-color($primary, button);
          &:hover {
            color: mat-color($pp-application-menu, back-button-hover-color); 
            background-color: mat-color($pp-application-menu, back-button-hover-background-color);  
          }
          & i {
            font-size: mat-font-size($custom-typography, display-1) !important;
          }
      }
    }
    ul {
      li {
        color: mat-color($primary, button);
        &:hover {
          background-color: mat-color($pp-application-menu, menu-item-hover-background-color);
        }
        &.active { 
          color: mat-color($pp-application-menu, menu-item-active-color);
          background-color: mat-color($pp-application-menu, menu-item-active-background-color);
        }
        & i { font-size: mat-font-size($custom-typography, display-3) !important; }
        & span {
          font-size: mat-font-size($custom-typography, display-1) !important;
        }
      }
    }
  }
  div.theme-selector{
    color: mat-color($primary, button);
  }
  span.label { 
    font-size: mat-font-size($custom-typography, caption);
    color: mat-color($pp-application-menu, menu-label-color);
    background-color: mat-color($pp-application-menu, menu-label-backgroud-color);
  }

}


