.panel-container {
    background-color: white; border-radius: 8px; box-shadow: 0 2px 0 0 rgba(0,0,0,.12); margin: 20px 0px;
    .panel-header {
        padding: 0px 30px;
        h3 { font-size: 18px; line-height: 64px; color: #aaa; font-weight: 300; border-bottom: 0px; margin: 0px; }
    }
    .panel-content {
        padding: 30px;
        .title {
            margin: 15px 0px 0px 0px;
        }
        a {
            color: #8c8c8c;
            font-weight: 200;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 13px;
            width: 70%;
            display: inline-block;
            li {
                float: left;
                &.source { width: 20%; }
                &.name { width: 50%; }
                &.license { width: 15%; }
                span { 
                    font-weight: 500;
                }
            }
        }
    }
}