.overview-wrap {
    padding: 8px;
    display: flex;
    flex-direction: row;

    dl {
        padding-left: 20px;
    }

    img {
        padding-top: 14px;
    }
}

.metadata-wrap {
    padding: 12px;
    display: flex;
    flex-direction: row;

    img {
        max-width: 400px;
        padding-right: 12px;
    }
}

mat-tab-group {
    margin: 0 -20px;
}

pp-layer-panels {
    flex: 1;
    min-width: 640px;
}