<div mat-dialog-content *ngIf="content">
  <h1 mat-dialog-title> {{ content?.displayValues['name'] || contentId }}</h1>
  <div class="detail-wrap">
    <div>
      <img [src]="thumbnailUrlSafe" (click)="showFullscreen()"><br />
      <p [innerHTML]="content?.displayValues['detail']"></p>
    </div>

    <dl>
      <dt>{{'ContentPickerDetails.LabelFileExtension' | pptranslate}}</dt>
      <dd>{{content.content.fileExtension}}</dd>

      <dt>{{'ContentPickerDetails.LabelFileSize' | pptranslate}}</dt>
      <dd>{{content.content.fileSizeInBytes | filesize}}</dd>

      <ng-container *ngIf="content.content.kind === 'ImageMetadata'">
        <dt>{{'ContentPickerDetails.LabelSize' | pptranslate}}</dt>
        <dd>{{content.content.width}}px x {{content.content.height}}px</dd>
      </ng-container>
    </dl>
  </div>
</div>
